.vim/bundle
.pydevproject
.settings/*
.project
*.svn
*.log
.model.py.swo
*.pyc
*.pid
*.swp
.ropeproject
bin/
include/
lib64
static/upload/*
static/excel_import/*
node_modules/
.idea/
.DS_Store
static/*_bz
*.orig
static/png
*.sublime-project
*.sublime-workspace
static/uploaded_files/
template/*.swo
conf/
mystart.sh
static/video/*
